.item1 {grid-area: menu;}
.item2 {grid-area: header;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        'menu  menu   menu   menu  menu  menu'
        'header header header header header header'
        'main   main    main    main    main    main'
        'footer footer  footer  footer  footer  footer';
}

html, body{
    background-color: rgb(255, 255, 255);
}


.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
}


* {
    padding: 0; 
    margin: 0;
    font-family: monospace;
}
 
ul {
    list-style: none;
    background: #262262;
}
 
ul li {
    display: inline-block;
    position: relative;
}
 
ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
 
ul li ul.dropdown li {
    display: block;
}
 
ul li ul.dropdown {
    width: 100%;
    background: #262262;
    position: absolute;
    z-index: 999;
    display: none;
}
 
ul li a:hover {
    background: #1746ab;
}
 
ul li:hover ul.dropdown {
    display: block;
}

.item3{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

.item1{
    position: sticky;
    top: 0;
 
}

.item2 {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item3{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
}

#bilde{
    max-width: 600px;
    border-radius: 70px;
}

.boks{
    background-color: rgb(208, 205, 200);
    padding: 2rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 10);
}