.item1 {grid-area: menu;}
.item2 {grid-area: header;}
.item3 {grid-area: main;}
.item4 {grid-area: left-side;}
.item5 {grid-area: footer;}

#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
        'menu   menu   menu   menu   menu   menu'
        'header header header header header header'
        'left-side   main    main    main    main    main'
        'left-side   main    main    main    main    main'
        'footer footer  footer  footer  footer  footer';
}

html, body{
    background-color: rgb(255, 255, 255);
}


.font{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
}


* {
    padding: 0; 
    margin: 0;
    font-family: monospace;
}
 
ul {
    list-style: none;
    background: #262262;
}
 
ul li {
    display: inline-block;
    position: relative;
}
 
ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
 
ul li ul.dropdown li {
    display: block;
}
 
ul li ul.dropdown {
    width: 100%;
    background: #262262;
    position: absolute;
    z-index: 999;
    display: none;
}
 
ul li a:hover {
    background: #1746ab;
}
 
ul li:hover ul.dropdown {
    display: block;
}



.item1{
    position: sticky;
    top: 0;
 
}

.item2 {
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item3{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: pink;
}

.item4{
    /* display: grid; */
    background-color: rgb(189, 174, 174);
    border: 1px solid black;
    /* float: left; */
    width: 300px;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: yellow;
}

#bilde{
    max-width: 600px;
    border-radius: 70px;
}


.boks{
    width: 50%;
    border: 15px solid rgb(0, 0, 0);
    background: linear-gradient(90deg, #1746ab, #1e90ff); /* Beholder gradient bakgrunn */
    padding: 10px;
    margin: 20px;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box; /* Sørger for at padding og ramme er inkludert i elementets totale størrelse */
    word-wrap: break-word; /* Bryter lange ord slik at de holder seg innenfor boksen */
    max-width: 90%; /* Sikrer at boksen ikke blir bredere enn 90% av skjermens bredde */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 10);
}

/* test */