.item1 {grid-area: menu;}
.item2 {grid-area: header;}
.item3 {grid-area: main;}
.item4 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        'menu  menu   menu   menu  menu  menu'
        'header header header header header header'
        'main   main    main    main    main    main'
        'footer footer  footer  footer  footer  footer';
}

html, body{
    padding: 0;
    margin: 0;
}

.item1{
        position: sticky;
        top: 0;
    }

.item2 { /* header */
    background-color: pink;
    color: black;
    padding: 10px;
    font-size: 32px;    

    /* Bruker flexbox for å plassere bildet/logoen og teksten i midten av headeren */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item3{
    background-color: #1746ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}
 
ul {
    list-style: none;
    background: #262262;
}
 
ul li {
    display: inline-block;
    position: relative;
}
 
ul li a {
    display: block;
    padding: 20px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
 
ul li ul.dropdown li {
    display: block;
}
 
ul li ul.dropdown {
    width: 100%;
    background: #262262;
    position: absolute;
    z-index: 999;
    display: none;
}
 
ul li a:hover {
    background: #1746ab;
}
 
ul li:hover ul.dropdown {
    display: block;
}

.magic8ball{
    width: 500px;
    margin: 20px;
    z-index: 0;
}

#btnSpør{
    background-color: rgb(255, 92, 130);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    border-radius: 8px;
    margin: 10px;
    width: fit-content;
    border: white;
}

#btnSpør:hover{
    background-color: rgb(216, 31, 31);
    transform: scale(1.2,1.2);
    cursor: pointer;
}

#svar, p{
    z-index: 1;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    font-size: 16px;
    color: greenyellow;
    text-align: center;
}

#ballOgTekst{
    position: relative;
}